<!-- <!DOCTYPE html>
<html>
  <head> -->
    <title>Welcome <%= user %></title>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/jquery-2.1.4.min.js'></script>
    <script src='/js/jQuery UI.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>
    <script type="text/javascript" src="/js/chat.js"></script>
    <script type="text/javascript" src="/js/date.js"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
     <link rel="stylesheet" href="/css/jQuery UI.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
  <!-- </head>
  <body>
    <div class = "container col-md-8 col-md-offset-2 column"> -->
      