<!DOCTYPE html>
<html>
	<head>
		<% include partials/header %>
	</head>
	<body>
		<div class = "container col-md-8 col-md-offset-2 column">
			<h1><%= error %></h1>
			<h2><%= message %></h2>
		</div>
	</body>
</html>
</body>
<script type="text/javascript">
// setTimeout(function(){
// window.location.href = "/";
// }, 25000);
</script>