<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>
  <body>
    <div class = "container col-md-10 col-md-offset-1 column">
      <%- include('partials/navbar', {active: "0"}) %>
      <div id="layoutChange" class="well component">
        <% include partials/intro %> 
      </div>
      
    </div>
  </body>
</html>
</body>
